.launchControl{
  display: flex;
  flex-direction: row;
}

.startButton {
  font-size: xx-large;
  background-color: black;
}

.stopButton {
  font-size: xx-large;
  background-color: black;
  color: white;
}

.deactivated {
  color: white;
}

.preparation {
  color: yellow;
}

.activated {
  color: rgb(0, 167, 0);
}
